[Desktop Entry]
Name=Helwan Process Manager
Comment=System and Network Monitor
Exec=hel-process-manager
Icon=/usr/share/hel-process-manager/logo/icon.png
Terminal=false
Type=Application
Categories=System;Utility;Monitor;
