[Desktop Entry]
Name=Helwan Process Manager
Comment=System and Network Monitor
Exec=hel-process
Icon=/usr/share/icons/hicolor/256x256/apps/hel-process.png
Terminal=false
Type=Application
Categories=System;Utility;Monitor;
